body {
  background-color: lightsteelblue;
}

.pelmeni_img {
  width: 300%;
  height: 100%;
  margin-right: 25pt;
  margin-top: 0;
  margin-left: 0;
}

.pelmeni_title {
  font-family: "Cambria", serif;
  font-size: 45pt;
  font-style: italic;
}

.pelmeni_txt {
  font-size: 20pt;
}

.pelmeni_block {
  text-indent: 10pt;
  margin-left: 20pt;
  margin-right: 20pt;
  text-align: end;
  font-family: "Times New Roman", serif;

}

.BIG_block {
  margin-left: 20pt;
  margin-top: 20pt;
  display: flex;

}

.Recipe {
  margin-left: 20pt;
  font-family: "Times New Roman", serif;
}

.ingredients {
  list-style-type: circle;
  font-size: 20pt;
}

.preparing {
  font-size: 20pt;
}

.pleasure {
  font-size: 15pt;
  font-style: italic;
}

.recipe_title {
  font-size: 30pt;
}

.ingredients_title {
  font-size: 25pt;
}

.preparing_title {
  font-size: 25pt;
}

.forming {
  list-style-type: upper-roman;
}
